 .info{
    font-size: 20px;
    padding-right: 30px;

  }

  .Question{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding-top: 50px;
    padding: 40px;
    flex-direction: column;
    text-align: center;
  } .answer{
      color: #f8e4cd;
      padding: 50px;
      font-size: 40px;
      margin-top: 20px;
      border-color: rgb(112, 193, 224);
      border-width: 5px;
      border-style: solid;
      border-radius: 20px;
      text-align: justify;
    } 


  .family-Tree{
    display: flex;
    justify-content: center;
    align-items:center ;
    color: white;
    padding-bottom: 50px;
    padding-left: 25px;
    font-size: 75px;
    font-family: Roboto 900, arial;
  }

  body{
    background: linear-gradient(rgb(19, 0, 90),rgb(3, 201, 136));
    min-height: 100vh;
    justify-content: center;
    margin-top: 50px;
    height: 2000px;

  }

  .top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 50%;
    height: 200px;
    margin: 0 auto 100px auto;
    margin-bottom: 20px;
  }
  
  .header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 50%;
    height: 200px;
    margin: 0 auto 100px auto;
    margin-bottom: 20px;
  }
   .childrens {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;         
  margin: 0 auto 100px auto;
}.card-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px ;                
  max-width: 1200px;       
}.card-child:hover{
      transform: scale(1.05);
      box-shadow: 0 8px 16px rgba(248, 248, 248, 0.2); 
    } 

  .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #fcfffa;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    } .card img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }.card:hover .content{
        transform: rotateX(0deg);
      }
  .card-title {
      margin: 0;
      font-size: 24px;
      color: #d61e1e;
      font-weight: 70;
    }
  .card-description{
    margin: 10px 0 0;
    font-size: 14px;
    color: #444343;
    line-height: 1.4;
  }
   .card{
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  body:has(.card:hover){
    transform: scale(1);

  } 
  body:has(.card:hover) .card:not(:hover) {
  filter: blur(5px);
  transform: scale(1);
  opacity: 0.1;
  transition: all 0.3s ease;
}
  
.card:hover{
  width: 400px; 
  height: 300px;
  transform: scale(1.2);
  z-index: 10;
}